version: '3.8'

services:
  # Serviço 1: Zookeeper (necessário para o Kafka funcionar)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-net

  # Serviço 2: Kafka Broker
  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      - zookeeper # Diz ao Docker para esperar que o zookeeper esteja pronto
    ports:
      # Expõe a porta do Kafka para a tua máquina local, para ferramentas externas
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-net

  # Serviço 3: O nosso Produtor de Dados
  producer:
    build:
      context: ./kafka
      dockerfile: Dockerfile
    container_name: kafka-producer
    depends_on:
      - kafka # Espera que o kafka esteja pronto antes de começar a enviar mensagens
    volumes:
      - ./data:/app/data
    networks:
      - kafka-net

networks:
  kafka-net: