apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce # O volume pode ser montado como leitura-escrita por um único nó
  resources:
    requests:
      storage: 5Gi # 5 Gigabytes of storage for PostgreSQL data